* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

:root {
    --primary-color: #0da84b;
    --secondary-color: #0a472c;
    --text-color: #d1d5db;
    --boder-color: #4b004f;
    --background: #5d0ec0;
    --light-color: #fbfbf9;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden; 
}


.container-header {
    background-color: var(--boder-color);
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0; 
    padding: 10px 20px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}

.spacer {
    flex: 1;
}

.logo-area {
    flex: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px; 
}

.toggle-btn {
    flex: 1;
    display: flex;
    justify-content: flex-start; 
}

.logo-area img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: transform 0.5s;
}

.logo-area img:hover {
    transform: scale(1.05);

}

.toggle-btn button {
    background: transparent;
    border: none;
    color: var(--light-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}


.nav-menu {
    display: none; 
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    text-align: center;
    background-color: var(--boder-color);
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}


.container-home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU2wfPvUkq_7N4vUqcuAUmvZL8a6NTkByxWA&s);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.home-text h1 {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
}

.home-text p {
    color: var(--light-color);
    font-weight: 500;
    font-size: 18px;
}

.home-img img {
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    object-fit: cover;
    width: 250px;
    height: 250px;
    -webkit-mask-image: radial-gradient(circle, #000000 50%, #00000000 100%);
    mask-image: radial-gradient(circle, #000000 50%, #00000000 100%);
    transition: transform 0.5s;
}

.home-img img:hover {
    transform: scale(1.05);
}

.container-home span {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
}

.container-home button {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    border-radius: 30px;
    border-style: none;
    transition: transform 0.3s;
}

.container-home button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    color: var(--text-color);
}